.main {
  padding: 1rem;
  margin: 1rem;
}
.full-width {
  width: 45%;
  padding: 5px;
}
.area {
  margin: 5px;
}
.area > .full-width {
  width: 90%;
  padding: 5px;
}
.areas {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
  padding: 5px;
}
.handle {
  position: relative;
  top: 10px;
  left: 93%;
  color: #ccc;
  cursor: move;
  width: 24px;
  height: 24px;
}
.wrapper {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mat-tab-group {
  width: 100% !important;
}
.test {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-fields {
  padding: 1em;
  width: 95%;
}
::ng-deep .mat-form-field.ng-dirty > .mat-form-field-wrapper > .mat-form-field-flex > .mat-form-field-outline {
  color: red;
}
@media (max-width: 768px) {
  .full-width {
    width: 95%;
  }
  .area {
    margin: 2px !important;
    border: 1px solid rgb(240, 240, 240);
  }
  .main {
    margin: 0.5em !important;
    padding: 0.5em !important;
  }
  ::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
  }
  ::ng-deep .mat-card {
    padding: 2px !important;
  }
  ::ng-deep .form-fields {
    padding: 0px !important;
  }
}