<mat-toolbar color="primary"></mat-toolbar>
<div>
  <form [formGroup]="configForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-title>Test Configuration</mat-card-title>
      <mat-card-content>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Id</mat-label>
          <input matInput placeholder="enter id" formControlName="id">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Test Name</mat-label>
          <input matInput placeholder="enter name_test" formControlName="name_test">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="enter description" formControlName="description"></textarea>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Text Result</mat-label>
          <textarea matInput placeholder="enter text_result" formControlName="text_result"></textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-subtitle>Areas</mat-card-subtitle>
      <mat-card-content>
        <ng-container formArrayName="areas">
          <ng-container *ngFor="let area of areas.controls; let i = index">
            <div [formGroupName]="i" class="area">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Area Id</mat-label>
                <input matInput placeholder="enter id" formControlName="id">
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Area Title</mat-label>
                <input matInput placeholder="enter area title" formControlName="title_area">
              </mat-form-field>
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Area Factor</mat-label>
                <input matInput placeholder="enter area factor" formControlName="factor">
              </mat-form-field>
              <div class="area">
                <h2>Sub Area</h2>
                <button (click)="addSubArea(i)">Add Sub Area</button>
              </div>
              <div>
                <h5>Area</h5>
                <select>
                  <option *ngFor="let a of areaList" value="{{a.id}}" [selected]="a.id == i">{{a.title_area}}</option>
                </select>
              </div>
              <ng-container formArrayName="subAreas">
                <ng-container *ngFor="let sub of getSubAreas(i).controls; let j = index">
                  <div [formGroupName]="j" class="area">
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Sub Area Id</mat-label>
                      <input matInput placeholder="enter sub area id" formControlName="sub_id">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Sub Area Title</mat-label>
                      <input matInput placeholder="enter sub area title" formControlName="sub_area_title">
                    </mat-form-field>
                    <div class="area">
                      <h3>Questions:</h3>
                      <button (click)="addQuestions(i, j)">Add question</button>
                      <ng-container formArrayName="questions">
                        <ng-container *ngFor="let qus of getQuestions(i, j).controls; let k=index">
                          <div [formGroupName]="k" class="area">
                            <mat-form-field class="full-width" appearance="outline">
                              <mat-label>Question Id</mat-label>
                              <input matInput placeholder="enter id" formControlName="id">
                            </mat-form-field>
                            <mat-form-field class="full-width" appearance="outline">
                              <mat-label>Question Title</mat-label>
                              <input matInput placeholder="enter question title" formControlName="title">
                            </mat-form-field>
                            <mat-form-field class="full-width" appearance="outline">
                              <mat-label>Question Label</mat-label>
                              <input matInput placeholder="enter question label" formControlName="label">
                            </mat-form-field>
                            <div class="area">
                              <h4>Options</h4>
                              <button (click)="addOptions(i, j, k)">Add Options</button>
                              <ng-container formArrayName="options">
                                <ng-container *ngFor="let option of getOptions(i, j, k).controls; let l=index">
                                  <div [formGroupName]="l" class="area">
                                    <mat-form-field class="full-width" appearance="outline">
                                      <mat-label>Option Id</mat-label>
                                      <input matInput placeholder="enter id" formControlName="id">
                                    </mat-form-field>
                                    <mat-form-field class="full-width" appearance="outline">
                                      <mat-label>Label</mat-label>
                                      <input matInput placeholder="enter option label" formControlName="label">
                                    </mat-form-field>
                                    <mat-form-field class="full-width" appearance="outline">
                                      <mat-label>Option Value</mat-label>
                                      <input type="number" matInput placeholder="enter option value" formControlName="value">
                                    </mat-form-field>
                                    <mat-form-field class="full-width" appearance="outline">
                                      <mat-label>Result Text</mat-label>
                                      <input matInput placeholder="enter result text" formControlName="result_text">
                                    </mat-form-field>
                                    <div>
                                      <button (click)="removeOptions(i, j ,k)">remove option</button>
                                    </div>
                                  </div>
                                </ng-container>
                              </ng-container>
                            </div>
                            <div>
                              <button (click)="removeQuestions(i,j)">remove question</button>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                    <div>
                      <button (click)="removeSubArea(i,j)">remove subArea</button>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </ng-container>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Download Configuration</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
