<!-- <app-auth-header></app-auth-header> -->
<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card color="" class="box">
      <form >
        <mat-card-header>
          <img width="300" src="../../../../assets/logo_idelta.png" alt="">
          <!-- <mat-card-title>Log in</mat-card-title> -->
        </mat-card-header>
        <br><br>
        <a [routerLink]="['projects']">
          <button mat-flat-button color="primary" class="btn-block">
              Log in
          </button>
        </a>
      </form>
    </mat-card>
  
</div>